.text_loginup {
  font-size: 40px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0;
}

.login_text_box {
  text-align: center;
}
a {
  color: #fcfcfc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:focus,
a:hover {
  color: #e3e3e3;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
}

p {
  margin-block: 1em;
}

.header {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-bottom: 3em;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
}

.buttons {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.buttons li {
  width: 100%;
}

.button {
  background-color: #171717;
  border: 1px solid #191919;
  border-radius: 1em;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  padding: 0.875em 1.25em;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.button:focus,
.button:hover {
  background-color: #1f1f1f;
}

.button--full {
  width: 100%;
}

.button--primary {
  background-image: linear-gradient(135deg, #ae1fd1, #bf2f9a);
  border: 1px solid #951fae;
}

.button--primary:focus,
.button--primary:hover {
  background-image: linear-gradient(135deg, #bf2f9a, #ae1fd1);
}

.button--small {
  font-size: 0.75rem;
}

.iphones {
  display: flex;
  gap: 3em;
}

.iphones > :first-child {
  margin-top: 5.5em;
}

.iphone {
  aspect-ratio: 9 / 19.5;
  background-color: #101010;
  border-radius: 3em;
  box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 2%),
    6.7px 6.7px 5.3px rgb(0 0 0 / 2.8%), 12.5px 12.5px 10px rgb(0 0 0 / 3.5%),
    22.3px 22.3px 17.9px rgb(0 0 0 / 4.2%), 41.8px 41.8px 33.4px rgb(0 0 0 / 5%),
    100px 100px 80px rgb(0 0 0 / 7%);
  height: 844px;
  overflow: hidden;
  padding: 3em 1.5em;
  width: 390px;
}

.form {
  display: grid;
  gap: 1.5em;
}

.form__input {
  color: #fff;
  background-color: #171717;
  border: 2px solid #191919;
  border-radius: 1em;
  padding: 1em 1.25em;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.form__input:focus,
.form__input:hover {
  background-color: #191919;
  color: #ffff;
}

.form__label {
  color: #fcfcfc;
  display: inline-block;
  font-size: 0.875rem;
  margin-block-end: 0.5em;
  margin-inline: 0.5em;
}

.text--center {
  text-align: center;
}
.icons_images {
  width: 27px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.icons_image {
  width: 40px;
  margin: auto;
}
.image_video {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 12px;
  width: 500px;
}
.media {
  width: 40%;
  margin: auto;
  justify-content: space-between;
}
.text_sign {
  font-size: 22px;
  font-weight: 600;
}

@media (min-width: 350px) and (max-width: 760px) {
  .media {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .image_video {
    width: 400px;
  }
  .box1 {
    width: 80%;
    margin: auto;
  }
  .box2 {
    width: 80%;
    margin: auto;
  }
  .text_sign {
    font-size: 18px;
  }
  .iphone {
    width: 100%;
  }
  .icons_images {
    width: 20px;
  }
}
@media (min-width: 760px) and (max-width: 1224px) {
  .media {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .image_video {
    width: 800px;
  }
  .box1 {
    width: 80%;
    margin: auto;
  }
  .box2 {
    width: 80%;
    margin: auto;
  }
  .text_sign {
    font-size: 18px;
  }
  .iphone {
    width: 100%;
  }
}
